/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  
}

.hero {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.svg-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  margin-top: 15rem;
  font-size: 8rem;
  font-weight: 300;
  -webkit-animation: announce 4s ease 1s forwards;
          animation: announce 4s ease 1s forwards;
  opacity: 0;
}

/* Nav */
.hero nav {
  position: absolute;
  z-index: 1;
  width: 100%;
  /* -webkit-animation: announce 1s ease 7s forwards;
          animation: announce 1s ease 7s forwards;
  opacity: 0; */
}

.hero nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 4rem 0;
  list-style: none;  
}

.hero nav a {
  text-decoration: none;
  font-weight: bold;
  color: #dabe21;
  font-size: 20px;
  letter-spacing: 2.5px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-shadow: 0.5px 0.5px 1px #222;
}
.navigation-item {
  position: relative;
}
.navigation-link::before  {
  content: "";
  width: 0rem;
  height: 0.1rem;
  background-color: #696969;
  position: absolute;
  top: 0.5rem;
  left: -1.5rem;
  transition: width 0.5s cubic-bezier(0, 0, 0, 1);
}
.navigation-link::after {
  content: "";
  width: 0rem;
  height: 0.1rem;
  background-color: #696969;
  position: absolute;
  top: 0.5rem;
  right: -1.5rem;
  transition: width 0.5s cubic-bezier(0, 0, 0, 1);
}
.navigation-link:hover {
  color: #696969;
}
.navigation-link:hover::before,
.navigation-link:hover::after {
  width: 1rem;
}

.hero nav a:hover {
  color: #696969;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

/* Image */
.hero img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: lighten;
  animation: announce 1.5s ease forwards,
  swing 4s ease-in-out infinite alternate-reverse;
  opacity: 0;
}

.studios {
color: rgb(0, 0, 0);
font-size: 4.75rem;
letter-spacing: 2.5rem;
font-weight: 300;
text-shadow: 2px 2px 5px #222;
-webkit-animation: reveal 2s ease-in-out 7s backwards;
        animation: reveal 2s ease-in-out 7s backwards;
        
}

/* Video */
.hero video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; 
  animation: reveal 3s ease 5s forwards, 
  swing 4s ease-in-out infinite alternate-reverse;
  opacity: 0;
  filter: brightness(1.8);
  z-index: -1;
}

.hero h1 a {
  text-decoration: none;
  color: #000;
  letter-spacing: 4px;
  opacity: 1;
}
/* Small Display */
.small-display-container {
  margin: 1rem auto 0rem;
  width: 100%;
  font-size: 2rem;
  z-index: 100;
  text-align: center;
  display: none;
  position: absolute;
  top: 0;
  opacity: 0;
}
.main-small-title {
  font-size: 1rem;
  color: #111111;
  font-size: 3rem;
  margin: 0 auto;
  letter-spacing: 0.4rem;
  font-family: "Montserrat", sans-serif;
}
.main-small-title span {
  color: #000;
}

/* Side bar footer */
.footer-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: 0px; 
}

.footer-wrap footer {
  z-index: 1;
  height: 0px;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 1rem;
  margin-bottom: 19rem;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  font-size: 8px;
  -webkit-animation: announce 1s ease 4s forwards;
          animation: announce 1s ease 4s forwards;
  opacity: 0;
}

.footer-wrap footer a {
  text-decoration: none;
  color: #333333;
  letter-spacing: 1px;
}

.footer-wrap footer a:hover {
  color: #b6b6b6b6;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

/* Webkit for Side bar */
a:-webkit-any-link a {
  text-decoration: none;
  color: #333333;
  letter-spacing: 1px;
}

a:-webkit-any-link a:hover {
  color: #b6b6b6b6;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

/* Animation keyframes */
@-webkit-keyframes reveal {
  from {
    opacity: 0;  
  }
  to {
      opacity: 0.8;
  }
}
@keyframes reveal {
  from {
    opacity: 0;  
  }
  to {
      opacity: 0.8;
  }
}

/* For text reveal */
@-webkit-keyframes announce {
  from {
    opacity: 0;  
  }
  to {
      opacity: 1;
  }
}
@keyframes announce {
  from {
    opacity: 0;  
  }
  to {
      opacity: 1;
  }
}

@-webkit-keyframes swing {
  from {
      -webkit-transform: rotateZ(0deg);
              transform: rotateZ(0deg);
  }
  to {
      -webkit-transform: rotateZ(1deg);
              transform: rotateZ(1deg);
  }
}

@keyframes swing {
  from {
      -webkit-transform: rotateZ(0deg);
              transform: rotateZ(0deg);
  }
  to {
      -webkit-transform: rotateZ(1deg);
              transform: rotateZ(1deg);
  }
}

/* Logo */
.svg-container {
  width: 100%;
}
#svg-3 {
  position: absolute;
  top: 0;
  left: 50;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-animation: announce 2s ease 5s forwards;
          animation: announce 2s ease 5s forwards;
  opacity: 0;
  z-index: 2;
}

/* Media queries */
@media (max-width: 768px){
  .svg-container {
    display: none;
  }
  .nav-list li a {
    display: none;
  }
  .small-display-container {
    display: block;
    animation: reveal 3s ease 0.5s forwards; 
  }
  
}