* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.hero {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero h1 {
    position: absolute;
    z-index: 1;
    width: 100%;
    text-align: center;
    margin-top: 15rem;
    font-size: 8rem;
    font-weight: 300;
    animation: announce 4s ease 1s forwards;
    opacity: 0;
}

/* Nav */
.hero nav {
    position: absolute;
    z-index: 1;
    width: 100%;
    animation: announce 1s ease 3s forwards;
    opacity: 0;
}

.hero nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 4rem 0;
    list-style: none;  
}

.hero nav a {
    text-decoration: none;
    color: #c9b069;
    font-size: 20px;
    letter-spacing: 2.5px;
    font-weight: bold;
}

.hero nav a:hover {
    color: #000;
    transition: color 0.7s ease;
}

/* Image */
.hero img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    mix-blend-mode: lighten;
    animation: announce 1.5s ease forwards,
    swing 4s ease-in-out infinite alternate-reverse;
    opacity: 0;
}

/* Video */
.hero video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; 
    animation: reveal 4s ease 0.5s forwards, 
    swing 4s ease-in-out infinite alternate-reverse;
    opacity: 0;
}

.hero h1 a {
    text-decoration: none;
    color: #000;
    letter-spacing: 4px;
    opacity: 1;
}

.hero h1 a:hover {
    color: #c9b069;
    opacity: 0.8;
    transition: color 0.5s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}


/* Side bar footer */
.footer-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: 0px; 
}

.footer-wrap footer {
    z-index: 1;
    height: 0px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1rem;
    margin-bottom: 19rem;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    font-size: 8px;
    animation: announce 1s ease 4s forwards;
    opacity: 0;
}

/* .footer-wrap:after {
  content: "";
  display: block;
  height: 0px;
} */

.footer-wrap footer a {
    text-decoration: none;
    color: #333333;
    letter-spacing: 1px;
}

.footer-wrap footer a:hover {
    color: #b6b6b6b6;
    transition: color 0.2s ease-in-out;
}

/* Webkit for Side bar */
a:-webkit-any-link a {
    text-decoration: none;
    color: #333333;
    letter-spacing: 1px;
}

a:-webkit-any-link a:hover {
    color: #b6b6b6b6;
    transition: color 0.2s ease-in-out;
}

/* Animation keyframes */
@keyframes reveal {
    from {
      opacity: 0;  
    }
    to {
        opacity: 0.8;
    }
}

/* For text reveal */
@keyframes announce {
    from {
      opacity: 0;  
    }
    to {
        opacity: 1;
    }
}

@keyframes swing {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(1deg);
    }
}